<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
			body        { padding-top:80px; background-image: url("http://www.ideocolab.com/assets/images/food_head.jpg"); background-repeat: no-repeat;
        color: black;
        }
        .container{
        background-color: rgba(211, 211, 211, 0.5);
        }
        h1{
        color: #CC5500;
        }
        .btn{
        color: black;
        }
          	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-cutlery"></span> Your Restaurant List!</h1>
		<a href="/logout" class="btn btn-warning btn-lg">Logout</a>
    <a href="/random" class="btn btn-warning btn-lg">Get Restaurant</a>
    <a href="/add" class="btn btn-warning btn-lg">Add Restaurant</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Your List</h3>

					<p>
						<strong>User</strong>: <%= user.username %><br>
						<strong>Restaurants</strong>* <%= user.restaurants %><br>
<% /* %>
get this for each restaurant on their list
 <ul>
    <% drinks.forEach(function(drink) { %>
         <li><%= drink.name %> - <%= drink.drunkness %></li> -->
    <% }); %>
 </ul>

 example website for looping in EJS
 https://scotch.io/tutorials/use-ejs-to-template-your-node-application


 commented password out
						<strong>password</strong>: <%= user.password %>
					</p>
<% */ %>

			</div>
		</div>

	</div>

</div>


</body>
</html>
